﻿@model BLL.Account
@{
    Layout = null;
    string primaryDomain = Model.Data != null && Model.Data.PrimaryDomain != null ? Model.Data.PrimaryDomain : "";
    string primaryDomainMoodCMS = primaryDomain + "/moodcms";
}
<html>
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>MoodConnect - Account Subscribers Update</title>
    <style type="text/css">
        @@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;700&display=swap");
    </style>
</head>
<body style="
      margin: 0;
      padding: 0;
      font-family: Heebo, sans-serif;
      direction: rtl;
    ">

    <table style="border-spacing: 0; border-collapse: collapse; max-width: 600px; margin:auto; text-align: right; line-height: normal; padding:0px;"
               dir="rtl"
               cellspacing="0"
               cellpadding="0">
        <tr>
            <td>
                <table style="border-spacing: 0; border-collapse: collapse; max-width: 100% ; width: 100%;"
                       dir="rtl"
                       cellspacing="0"
                       cellpadding="0">
                    <tbody>
                        <tr>
                            <td style="width:50%;">
                                <img src="https://notify.apps.getmood.io/warehouse/banner_text.png"
                                     alt="Banner Congratulations Text"
                                     style="display: block; max-width: 300px !important; width:100%;" /></td>
                            <td style="width:50%;">
                                <img src="https://notify.apps.getmood.io/warehouse/final_gif_banner.gif"
                                     alt="Banner Congratulations Text"
                                     style="display: block; max-width: 300px !important; width:100%;" /></td>
                        </tr>
                        <tr>
                            <td colspan="2" style="font-size: 0.95rem; margin-bottom: 0; font-weight: normal; padding:5px;">
                                <p style="margin-top: 32px; font-weight: bold;line-height: 1.33;font-size: 1.1rem; margin-bottom:0;">
                                    היי,
                                </p>

                                <p style="margin-top:13px;">
                                    אנחנו שמחים לעדכן אותך שכמות המנויים הדיגיטליים באתר
                                    @if (!string.IsNullOrEmpty(primaryDomain))
                                    {
                                        <a href="@primaryDomain" target="_blank">@primaryDomain</a>
                                    }<br/>
                                    <span style="font-weight: bold; color: #f15b55;">
                                        ממשיכה לגדול והגיעה ל-@(Model.NumberOfSubscribers.ToString("N0"))!
                                    </span>
                                </p>

                                <p style="margin-top: 20px; margin-bottom: 0;">
                                    <span style="font-weight:bold">חשוב לשים לב!</span>
                                    יותר ויותר לקוחות באתר שלך, מבקשים לקבל ממך עדכונים ישירים,
                                    מבצעים, מוצרים או תוכן חדש.
                                </p>
                                <p style="margin-top: 20px; margin-bottom:0;">
                                    מתוך מערכת הניהול של האתר שלך, ניתן לשלוח הודעות למנויים
                                    הדיגיטליים, להישאר בתודעה של הלקוחות ולהגדיל מכירות באתר ובעסק.
                                </p>
                            
                                <p style="font-size: 1.1rem; font-weight: bold; line-height: 1.33; margin-top:20px; margin-bottom: 0;">                                    
                                    כיצד מתחילים לשלוח הודעות?
                                </p>

                                <ol style="
                  list-style-position: inside;
                  padding-right: 0;
                  margin-top: 10px;
                  margin-bottom: 0;
                  padding-top: 0;
                  line-height: normal;
                ">
                                    <li>
                                        נכנסים למערכת הניהול של האתר שלכם בכתובת:
                                        @if (!string.IsNullOrEmpty(primaryDomain))
                                        {
                                            <a href="@primaryDomainMoodCMS" target="_blank">@primaryDomainMoodCMS</a>
                                        }
                                    </li>
                                    <li style="padding-top:10px">
                                        לוחצים על האייקון של האווירון מנייר בתפריט הימני הכי למטה
                                    </li>
                                    <li style="padding-top:10px">
                                        בוחרים תמונה, מזינים טקסט, מוסיפים את הקישור הרלוונטי ולוחצים
                                        "שלח"
                                    </li>
                                    <li style="padding-top:10px">
                                        המנויים הדיגיטליים שלך יקבלו הודעה מעוצבת אשר תופיע בחלק
                                        התחתון של הדפדפן או בטלפון עם כפתור מניע לפעולה
                                    </li>
                                </ol>
                            </td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td colspan="2">
                                <p style="text-align: center;
                    font-weight: bold;
                    color: #f15b55;
                    margin-top: 0;
                    margin-bottom: 0;
                    font-size: 1.1rem;
                    line-height: 1.33;
                    margin-top: 30px;">
                                    רוצה לשמוע עוד?
                                </p>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2">
                                <p style="text-align: center;
                    font-weight: normal;
                    font-size: 0.9rem;
                    margin-top: 5px;
                    line-height: 1.2;">
                                    נשמח לעזור,
                                </p>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2">
                                <p style="text-align: center;
                    font-weight: normal;
                    font-size: 0.9rem;
                    margin-top: 5px;
                    line-height: 1.2;">
                                    <a href="https://api.whatsapp.com/send?phone=9720765994402">בווטסאפ </a> || <a href="mailto:chen.s@richkid.co.il" target="_blank">במייל</a>
                                </p>
                            </td>
                        </tr>
                    </tfoot>
                </table>
            </td>
        </tr>
    </table>
</body>
</html>
