﻿@model BLL.Account
@{
    Layout = null;
    string primaryDomain = Model.Data != null && Model.Data.PrimaryDomain != null ? Model.Data.PrimaryDomain : "";

}
<html>
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>MoodConnect - Account Subscribers Update</title>
    <style type="text/css">
        @@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;700&display=swap");
    </style>
</head>
<body style="
      margin: 0;
      padding: 0;
      font-family: Heebo, sans-serif;
      direction: rtl;
    ">
    <div style="
        padding: 50px 25px;
        max-width: 650px;
        margin: auto;
        text-align: right;
        line-height: normal;
      ">
        <div>
            <img src="https://www.getmood.io/warehouse/notifications/Internal/ImageInDesign.png"
                 alt="Banner Image"
                 style="display: block; width: 100%; height: auto" />
        </div>
        <div>
            <div style="margin-bottom: 30px">
                <p style="font-size: 16px; font-weight: normal; margin-bottom: 10px">
                    רצינו לעדכן שכמות המנויים הדיגיטליים באתר
                    @if (!string.IsNullOrEmpty(primaryDomain))
                    {
                        <a href="@primaryDomain" target="_blank">@primaryDomain</a>
                    }
                    ממשיכה
                    לגדול והגיעה ל-@(Model.NumberOfSubscribers.ToString("N0")) מנויים.
                </p>
            </div>
            <div style="margin-bottom: 30px">
                <h3 style="font-size: 18px; font-weight: bold; margin-bottom: 10px">
                    מה זה "קהל מנויים דיגיטלי"?
                </h3>
                <p style="font-size: 16px; font-weight: 500; margin-bottom: 20px">
                    גולשים שביקרו באתר שלכם וביקשו לקבל מכם עדכונים למחשב או לטלפון.
                </p>
            </div>
            <div style="margin-bottom: 30px">
                <h3 style="font-size: 18px; font-weight: bold; margin-bottom: 10px">
                    מה זה Mood.Connect?
                </h3>
                <p style="font-size: 16px; font-weight: normal">
                    <span style="font-weight: 700">Mood.Connect</span> מאפשרת לכם לשלוח
                    הודעות לקהל המנויים הדיגיטלי. ניתן להשתמש בה דרך מערכת הניהול.
                </p>
            </div>
            <div>
                <h2 style="
              font-size: 20px;
              font-weight: bold;
              color: #ad66a1;
              margin-bottom: 10px;
            ">
                    רוצים להתחיל לשלוח הודעות?
                </h2>
                <div style="margin-bottom: 5px">
                    <a href="https://www.google.com"
                       style="font-size: 16px; font-weight: 500">דברו עם עידן >></a>
                </div>
                <div>
                    <a href="https://www.google.com"
                       style="font-size: 12px; font-weight: 500">
                        לקריאת מאמר בנושא >>
                    </a>
                </div>
            </div>
        </div>
    </div>
</body>
</html>

