﻿@model NotificationsApp.Models.AccountModel
@{
    ViewBag.Title = "AdminHome";
}

<div id="PageContainer">


    @if (Model.ErrorCode != 0)
    {
        if (Model.ErrorCode == 1)
        {
            <script>
                alert("החשבון לא נוצר בפולסים, אנא נסה שנית");
            </script>
        }
        else if (Model.ErrorCode == 2)
        {
            <script>
                alert("החשבון לא נוצר בדאטה בייס, אנא נסה שנית");
            </script>
        }
        else if (Model.ErrorCode == 3 || Model.ErrorCode == 4)
        {
            <script>
                alert("השמירה נכשלה! - " + @(Model.ErrorMsg));
            </script>
        }
    }
    <br />
    <div class="Button Navigation ">
        <button onclick="AddNewAccount()" class="btn-primary"><b>הוסף חשבון חדש</b></button>
        <button onclick="OperationalReport()" class="btn-primary"><b>דו"ח תפעולי</b></button>
        <button onclick="ManageSendAutomations()" class="btn-primary"><b>טבלת אוטומציות</b></button>
    </div>

    <br /> <br /> <br />

    <div class="Headline">
        <h2><b>טבלת חשבונות במערכת</b></h2>
    </div>

    @*<div class="Filters">
        @Html.Partial("~/Views/Accounts/_AccountsTableFilters.cshtml", Model)
        <div class="lds-hourglass" style="display:none"></div>
    </div>*@

    <div id="AccountsTable">
        <table>
            <tr style="color:white">
                <th>שם החשבון</th>
                <th>Account Key</th>
                <th>Notification Key</th>
                <th>מספר מנויים</th>
                <th>סוג חבילה</th>
                <th>מחק חשבון</th>
                <th>ערוך חשבון</th>
            </tr>
            @foreach (var account in Model.ListOfAccounts)
            {
                <tr class="TableRow">
                    <td>
                        @account.Name
                    </td>
                    <td>
                        @account.AccountKey
                    </td>
                    <td>
                        @account.Data.Credentials.PulseemNotificationKey
                    </td>
                    <td>
                        @account.NumberOfSubscribers
                    </td>
                    <td>
                        @{
                            var packageName = Model.ListOfPackages.Where(p => account.PackageID == p.PackageID).FirstOrDefault().Name;
                        }
                        @packageName
                    </td>
                    <td>
                        <input type="button" onclick="DeleteAccount(@account.AccountID)" value="מחק" />
                    </td>
                    <td>
                        <input type="button" onclick="EditAccount(@account.AccountID)" value="ערוך" />
                    </td>
                </tr>
            }
        </table>
    </div>
</div>

<script type="text/javascript">

    function EditAccount(accountID) {
        document.location.href = '@Url.Action("EditAccount", "Home")' + "?accountID=" + accountID
    }

    function DeleteAccount(accountID) {
        var result = confirm("את/ה בטוח/ה שברצונך למחוק משתמש זה?");
            if (result) {
                $.post("@Url.Action("DeleteAccount", "Home")" + "?accountID=" + accountID, function (data) {
                    $('#PageContainer').html(data);
                });
        }
    }

    function AddNewAccount() {
        document.location.href = '@Url.Action("AddNewAccount", "Home")';
    }

    function OperationalReport() {
        document.location.href = '@Url.Action("OperationalReport", "Reports")';
    }
    function ManageSendAutomations() {
        document.location.href = '@Url.Action("Index", "SendAutomations")';
    }


</script>

<style>
    table { table-layout: auto; width: 100%; }
    .Headline { text-align: center; background: #aea8a8; padding-top: 1mm; padding-bottom: 5mm; margin-bottom: 30px; }
    .Button { font-size: 22px; padding-top: 25px; text-align: center; }
    #AccountsTable { border-bottom: ridge; width: 100%; }
    #AccountsTable table th { border-left: 2px solid #808080; border-right: 2px solid #808080; padding: 3px 9px 3px 9px; background: #4a4848; text-align: center; }
    #AccountsTable table td { border-left: 1px solid #808080; border-right: 1px solid #808080; padding: 3px 9px 3px 9px; text-align: center; }
    .TableRow:nth-child(odd) { background: #CCC }
</style>