﻿@model NotificationsApp.Models.AccountModel
@{
    var automationTypeToTranslation = new Dictionary<BLL.AutomationTypes, string>();
    var automationTypes = Enum.GetValues(typeof(BLL.AutomationTypes)).Cast<BLL.AutomationTypes>()
        .Where(t => !t.Equals(BLL.AutomationTypes.None));
    foreach (var automationType in automationTypes)
    {
        string translation = string.Empty;
        switch (automationType)
        {
            case BLL.AutomationTypes.AccountSubscribersUpdate:
                translation = "אוטומציית עדכון מנויים";
                break;
        }
        automationTypeToTranslation[automationType] = translation;

    }
}
<section id="AccountAutomationsManagementTable">
    <div style="margin-top:20px;">
        <h3><b>ניהול אוטומציות</b></h3>
        <table class="EditTable">
            <thead>
                <tr>

                    <th style="text-align:right;">שם אוטומציה</th>
                    <th>האם האוטומציה פעילה</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var automationType in automationTypes)
                {
                    string automationName = automationTypeToTranslation[automationType];
                    string isAutomationActiveCheckboxName = "isActive_AutomationType_" + automationType.ToString("d");
                    bool isActive = false;
                    if (Model.Account.Data.AutomationTypeToData != null && Model.Account.Data.AutomationTypeToData.ContainsKey(automationType))
                    {
                        isActive = Model.Account.Data.AutomationTypeToData[automationType].IsActive;
                    }
                    <tr>
                        <td>@automationName</td>
                        <td>
                            <input hidden type="text" name="@isAutomationActiveCheckboxName" value="@isActive.ToString()" />
                            <input class="isAutomationActiveCheckbox" type="checkbox" value="@isActive.ToString()" @(isActive ? "checked='checked'" : "") />
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</section>

<script>
    $(document).ready(function () {
        $(".isAutomationActiveCheckbox").on('change', function () {
            const isAutomationActive = $(this).is(":checked");
            $(this).prev().val(isAutomationActive);
        });
    });
</script>