﻿@model NotificationsApp.Models.AccountModel
<section id="AccountPackageUpgradesTable">
    @if (Model.AccountPackageLogsForAccount.Count() > 0)
    {

        <div style="margin-top:20px;">
            <h3><b>שדרוגי חבילות שנעשו לחשבון</b></h3>
            <table class="LogsTable">
                <tr style="color:white;">
                    <th>חבילה מקורית</th>
                    <th>חבילה חדשה</th>
                    <th>תאריך השדרוג</th>
                    <th>האם החשבון חויב</th>
                </tr>
                @foreach (var log in Model.AccountPackageLogsForAccount)
                {
                    <tr>
                        <td>@log.CurrentPackageID</td>
                        <td>@log.NewPackageID</td>
                        <td>@log.TimeOfUpgrade</td>
                        <td><input type="checkbox" name="isCharged_@log.AccountPackageLogID" id="isChargedCheckbox" value="True" @(log.IsCharged ? "checked='checked'" : "") /></td>
                    </tr>
                }
            </table>
        </div>
    }
    else
    {
        <h3 style="color:crimson"><b>לא בוצעו שדרוגים לחשבון</b></h3>
    }
</section>