﻿@model NotificationsApp.Models.MainSendAutomationModel
@{
    //TODO: duplicate to SendAutomationStatus
    Dictionary<BLL.AccountStatus, string> hebStatus = new Dictionary<BLL.AccountStatus, string>();
    hebStatus[BLL.AccountStatus.Active] = "פעיל";
    hebStatus[BLL.AccountStatus.NotActive] = "לא פעיל";
    hebStatus[BLL.AccountStatus.All] = "הכול";
}
<form id="AccountsTableFiltersForm" name="accounts-filter--form" action="@(Url.Action("GetAccountsByFilters", "Home"))" method="post">
    <div id="AccountsTableFiltersContainer">
        <div class="accounts-table-filter__container">
            <select name="Status" id="AccountsTableStatusFilter" required>
                <option selected disabled hidden value="">סטטוס</option>
                @foreach (var status in Enum.GetValues(typeof(BLL.AccountStatus)))
                {
                    <option value="@((int)status)">@hebStatus[(BLL.AccountStatus)status]</option>
                }
            </select>
        </div>
        <div class="accounts-table-filter__container">
            <label for="IsWithAutomationsCheckbox">חשבונות עם אוטומציה</label>
            <input id="IsWithAutomationsCheckbox" type="checkbox" name="IsWithAutomations">
        </div>
        <div>
            <button type="submit">סנן</button>
        </div>
    </div>
</form>


<script>
    @*$(document).ready(function () {

        $("#AccountsTableFiltersForm").submit(function (e) {
            e.preventDefault();
            $(".lds-hourglass").show();
            //if (!$(this).valid()) {
            //    return;
            //}
            $.ajax({
                url: '@(Url.Action("GetAccountsByFilters", "Home"))',
                type: "post",
                data: $(this).serialize(),
                success: function (data) { //TODO: need to export table to partial
                    console.log(data);
                    //$("#").html("");
                    //$("#").html(data);
                    //$(".lds-hourglass").hide();
                    //alert("הסינון עבר בהצלחה");
                },
                error: function (xhr, status, error) {
                    $(".lds-hourglass").hide();
                    alert(error);
                }
            });
        });
    });*@
</script>

<style>
    #SendAutomationsTableFiltersContainer { display: flex; flex-direction: row; justify-content: center; }
    .send-automations-table-filter__container { margin-left: 25px; }
</style>