﻿
@model NotificationsApp.Models.AccountModel
@{
    string primarydomain = string.Empty;
    string commaSeparatedEmails = string.Empty;
    if (Model.Account.Data != null)
    {
        primarydomain = Model.Account.Data.PrimaryDomain != null ? Model.Account.Data.PrimaryDomain : string.Empty;
        commaSeparatedEmails = Model.Account.Data.Emails != null ? string.Join(",", Model.Account.Data.Emails) : string.Empty;
    }

}
<section id="NotificationsAppAccountDetailsTable">
    <h3><b>פרטי חשבון</b></h3>
    <table class="EditTable">
        <tr>
            <td>מזהה חשבון: </td>
            <td class="InputTableField"><input name="accountID" value="@Model.Account.AccountID" class="Input" disabled></td>
        </tr>
        <tr>
            <td>שם חשבון: </td>
            <td class="InputTableField"><input name="name" value="@Model.Account.Name" class="Input" required></td>
        </tr>
        <tr>
            <td>דומיין ראשי: </td>
            <td class="InputTableField"><input name="primaryDomain" value="@primarydomain" class="Input" required></td>
        </tr>
        <tr>
            <td>מיילים (מופרדים בפסיק) </td>
            <td class="InputTableField"><input name="emails" value="@commaSeparatedEmails" class="Input" required></td>
        </tr>
        <tr>
            <td>סוג חבילה: </td>
            <td class="InputTableField">
                @*Dropdown selection for package ID. Shows the current package of account, if exists*@
                <select name="packageID" class="Input" min="1">
                    <option value="0">בחר חבילה</option>
                    @foreach (BLL.Package package in Model.ListOfPackages)
                    {
                        <option value="@package.PackageID" @(Model.Account.PackageID == package.PackageID ? "selected='selected'" : "")>@package.Name</option>
                    }
                </select>
            </td>
        </tr>
        <tr>
            <td>מספר מנויים: </td>
            <td class="InputTableField"><input name="numberOfSubscribers" value="@Model.Account.NumberOfSubscribers" class="Input" required></td>
        </tr>
        <tr>
            <td>האם הוסדרו תנאי תשלום:</td>
            <td><input type="checkbox" name="PaymentApproved" id="PaymentApprovedCheckbox" value="True" @(Model.Account.PaymentApproved ? "checked='checked'" : "") /></td>
        </tr>
        <tr>
            <td>
                <div style="padding-right: 5px;" class="" data-toggle="tooltip" data-placement="left" title="שדה זה קבוע, יש להטמיעו במערכת. לחץ כדי לעבור לאתר">
                    <div>
                        AccountKey:
                        <input class="tooltipEditPage" type="button" value="?" onclick="window.open('https://admin.getmood.io', '_blank');">
                    </div>
                </div>
            </td>
            <td class="InputTableField"><input name="accountKey" type="text" value="@Model.Account.AccountKey" class="Input" disabled></td>
        </tr>
    </table>
</section>
