﻿@model NotificationsApp.Models.AccountModel
<section id="PulseemAccountDetailsTable">

    <h3><b>פרטי חשבון בפולסים</b></h3>
    <table class="EditTable">
        <tr>
            <td>API Key: </td>
            <td class="InputTableFieldBottom"><input name="pulseemAPIKey" value="@Model.Account.Data.Credentials.PulseemAPIKey" class="InputBottom" disabled></td>
        </tr>
        <tr>
            <td>
                <div style="padding-right: 5px;" class="" data-toggle="tooltip" data-placement="left" title="שדה זה נלקח מחשבון הלקוח במערכת פולסים. לחץ כדי לעבור לאתר">
                    <div>
                        Notification Key:
                        <input class="tooltipEditPage" type="button" value="?" onclick="window.open('https://www.pulseem.co.il/Pulseem/Login.aspx?ReturnUrl=/Pulseem/HomePageMiddleware.aspx﻿﻿﻿', '_blank');">
                    </div>
                </div>
            </td>
            <td class="InputTableFieldBottom"><input name="pulseemNotificationKey" value="@Model.Account.Data.Credentials.PulseemNotificationKey" class="InputBottom" required></td>
        </tr>
    </table>
    <br />
</section>
