﻿@model NotificationsApp.Models.AccountModel
@{
    ViewBag.Title = "AddNewAccount";
}

<h2><b>הוספת משתמש חדש</b></h2>
<br /> 
@using (Html.BeginForm("AddNewAccount", "Home", FormMethod.Post, new { form = "NewAccountForm" }))
{
    <tr>
        <td>
            <label>הכנס שם:</label>
        </td>
        <td>
            <input id="AccountName" name="name" class="required" type="text" required/>
        </td>
    </tr>

    <br /><br />

        <input type="submit" class="Button" value="שמור משתמש חדש" />
}

<style>
    .Button { width: 21%; font-weight: bolder; }
</style>