﻿@model NotificationsApp.Models.AccountModel
@{
    ViewBag.Title = "EditAccount";
}
<div class="PageContainer">
    <section id="AccountDetailsEditContainer">
        <h2>עריכת פרטי חשבון: @Model.Account.Name</h2>
        <p>
            @if (!string.IsNullOrEmpty(Model.SaveMsg))
            {
                if (Model.SaveMsg.Equals("השמירה הצליחה"))
                {
                    <label class="saveSuccess" style="margin-right:20px; color:green;"><b>@Model.SaveMsg</b></label>
                }
                else
                {
                    <label style="margin-right:20px; color:red;"><b>@Model.SaveMsg</b></label>
                }

            }
        </p>
        @using (Html.BeginForm("SaveEditedAccount", "Home", new { accountID = Model.Account.AccountID }, FormMethod.Post, new { enctype = "multipart/form-data", id = "SaveEditedAccountForm" }))
        {
            @Html.Partial("~/Views/Accounts/_NotificationsAppAccountDetailsTable.cshtml", Model)
            @*@Html.Partial("~/Views/Accounts/_AccountAutomationsManagementTable.cshtml", Model)*@
            @Html.Partial("~/Views/Accounts/_PulseemAccountDetailsTable.cshtml", Model)
            @Html.Partial("~/Views/Accounts/_AccountPackageUpgradesTable.cshtml", Model)
            <button type="submit" class="btn btn-default bt" @*onclick="saveEditedAccount()"*@>שמור</button>
        }
    </section>
    <section id="SendAutomationsDetailsContainer">
        <h3><b>טבלת אוטומציות </b></h3>
        <div class="send-automations__add-container">
            <button class="send-automation__add--btn btn-primary" onclick="AddSendAutomationForAccount(@Model.Account.AccountID)">הוסף אוטומציה</button>
        </div>
        @Html.Partial("~/Views/SendAutomations/_SendAutomationsTableContainer.cshtml", Model)
    </section>
</div>

<script>
    $(document).ready(function () {
        if ($('.saveSuccess').length) {
            $('.saveSuccess').delay(5000).fadeOut();
        }
    });
    function AddSendAutomationForAccount(accountID) {
        window.location.href = '@Url.Action("CreateAutomationForAccount", "SendAutomations")' + "?" + "accountID=" +  accountID.toString();
    }

</script>


<style>
    .EditTable { border-collapse: collapse; }
    .EditTable td { border: 1px solid #E7E7E7; padding: 2px 3px 2px 5px; }
    .InputTableField { width: 287px; }
    .InputTableFieldBottom { width: 265px; }
    .Input { width: 150% }
    .InputBottom { width: 100% }

    .LogsTable th { border-left: 2px solid #808080; border-right: 2px solid #808080; padding: 3px 9px 3px 9px; background: #4a4848; text-align: center; }
    .LogsTable td { border-left: 1px solid #808080; border-right: 1px solid #808080; padding: 3px 9px 3px 9px; text-align: center; }
    .LogsTable { border-bottom: ridge; }
    .TableRow:nth-child(odd) { background: #CCC }
    .tooltipEditPage { font-size: small; border-radius: 50%; height: 20px; width: 21px; background-color: #6d6666; color: white; border-radius: 50%; border: 1px solid #6d6666; }

</style>