﻿@model  List<NotificationsApp.Models.OperationalReportModel>

@{
    ViewBag.Title = "OperationalReport";
}
<div id="PageContainer">
    <div>
        <div class="Headline">
            <h2><b>טבלת חשבונות במערכת</b></h2>
        </div>

        <label>סנן לפי</label>
        <select id="sortSelection" name="checkSort" class="Input" min="1">
            @*<option value="0">בחר פרמטר לסינון</option>*@
            <option value="@(NotificationsApp.Auxiliary.Navigation.SortParam == null ? "0" : NotificationsApp.Auxiliary.Navigation.SortParam)">@(NotificationsApp.Auxiliary.Navigation.SortValue == null ? "בחר פרטמר למיון" : NotificationsApp.Auxiliary.Navigation.SortValue)</option>

            <option value="name">שם האתר</option>
            <option value="numOfSubscribers">מספר מנויים</option>
            <option value="package">חבילה</option>
            <option value="numberOfMessagesSentIn30Days">מספר הודעות שנשלחו ב30 יום האחרונים</option>
            <option value="numberOfMessagesSentIn90Days">מספר הודעות שנשלחו ב90 יום האחרונים</option>
        </select>
        <button onclick="SortTable()"><b>מיין טבלה</b></button>


        <div id="ReportTable">
            <table>
                <tr style="color:white">
                    <th>שם האתר</th>
                    <th>תאריך יצירת החשבון</th>
                    <th>מספר מנויים</th>
                    <th>חבילה בפועל</th>
                    <th>חבילה נדרשת</th>
                    <th>מספר הודעות שנשלחו ב30 יום האחרונים</th>
                    <th>מספר הודעות שנשלחו ב90 יום האחרונים</th>
                </tr>

                @foreach (NotificationsApp.Models.OperationalReportModel reportModel in Model)
                {
                    <tr class="TableRow">
                        <td>@reportModel.SiteName</td>
                        <td>@reportModel.AccountCreationDate</td>
                        <td>@reportModel.NumberOfSubscribers</td>
                        <td>@reportModel.CurrentPackage</td>
                        <td>
                            @{
                                if (reportModel.NeededPackage == null)
                                {
                                    @:-
                                }
                                else
                                {
                                    @reportModel.NeededPackage
                                }
                            }
                        </td>
                        <td>@reportModel.NumberOfMessagesInLase30Days</td>
                        <td>@reportModel.NumberOfMessagesInLase90Days</td>
                    </tr>
                }
            </table>
        </div>

    </div>
</div>


<script>
    function SortTable() {
        var sortValue = $('#sortSelection').val();

        $.post("@Url.Action("OperationalReport", "Reports")" + "?orderBy=" + sortValue, function (data) {
                    $('#PageContainer').html("");
                    $('#PageContainer').html(data);
                });
    }
</script>


<style>
    #PageContainer { margin-top: 20px }
    table { table-layout: auto; width: 100%; }
    .Headline { text-align: center; background: #aea8a8; padding-top: 1mm; padding-bottom: 5mm; margin-bottom: 30px; }
    #ReportTable { border-bottom: ridge; width: 100%; }
    #ReportTable table th { border-left: 2px solid #808080; border-right: 2px solid #808080; padding: 1px 7px 12px 8px; background: #4a4848; text-align: center; }
    #ReportTable table td { border-left: 2px solid #808080; border-right: 2px solid #808080; padding: 1px 7px 12px 8px; text-align: center; }
    .TableRow:nth-child(odd) { background: #CCC }

</style>