﻿@model NotificationsApp.Models.MainSendAutomationModel
@{
    ViewBag.Title = "SendAutomationsTable";
}
<div id="SendAutomationsContainer" class="send-automations-container">
    <div class="send-automations__add-container">
        <button class="send-automation__add--btn navigation--btn btn-primary" onclick="GetAddSendAutomation()">הוסף אוטומציה</button>
    </div>
    <div class="send-automations-header-container">
        <h2><b>טבלת אוטומציות </b></h2>
    </div>
    @Html.Partial("~/Views/SendAutomations/_SendAutomationsTableContainer.cshtml",Model)
</div>

<script>
    function GetAddSendAutomation() {
        window.location.href = "@Url.Action("CreateOrUpdateAutomation", "SendAutomations")"
    }
</script>

<style>
    .send-automations__add-container { margin-top: 25px; text-align: center; display:none;}
    .navigation--btn { font-size: 22px; }
    .send-automations-header-container > h2 { text-align: center; background: #aea8a8; padding-top: 1mm; padding-bottom: 5mm; margin-bottom: 30px; }
    div#SendAutomationsTableContainer { display: flex; flex-direction: column; }
    div#SendAutomationsTableContainer > section { margin-bottom: 15px; }
</style>

@*<style>
    .lds-hourglass { display: inline-block; position: relative; width: 80px; height: 80px;  }
    .lds-hourglass:after { content: " "; display: block; border-radius: 50%; width: 0; height: 0; margin: 8px; box-sizing: border-box; border: 32px solid #fff; border-color: #fff transparent #fff transparent; animation: lds-hourglass 1.2s infinite; background-color: black }
    @@keyframes lds-hourglass {
        0% { transform: rotate(0); animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19); }
        50% { transform: rotate(900deg); animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
        100% { transform: rotate(1800deg); }
    }
</style>*@