﻿@model NotificationsApp.Models.MainSendAutomationModel
<div id="SendAutomationsTableContainer">
    @Html.Partial("~/Views/SendAutomations/_SendAutomationTableFilters.cshtml", Model)
    @Html.Partial("~/Views/SendAutomations/_SendAutomationsTableNavigation.cshtml", Model)
    <section id="SendAutomationsTableSection">
        @Html.Partial("~/Views/SendAutomations/_SendAutomationsTable.cshtml", Model)
    </section>
</div>
<div class="lds-hourglass" style="display:none"></div>