﻿@model NotificationsApp.Models.MainSendAutomationModel
    @{ 
        Dictionary<BLL.SendAutomationStatus, string> hebStatus = new Dictionary<BLL.SendAutomationStatus, string>();
        hebStatus[BLL.SendAutomationStatus.Active] = "פעיל";
        hebStatus[BLL.SendAutomationStatus.NotActive] = "לא פעיל";
        hebStatus[BLL.SendAutomationStatus.All] = "הכול";
    }
<section id="SendAutomationsTableFiltersSection">
    <form id="SendAutomationsTableFiltersForm" name="send-automation-add-form" method="post" action="@Url.Action("GetSendAutomationsByPageAndFilters", "SendAutomations")">
        <input hidden name="pageNum" value="@Model.CurrentPage"/>
        <input hidden name="isForSingleAccount" value="@Model.IsForSingleAccount.ToString()"/>
        <div id="SendAutomationsTableFiltersContainer">
            <div class="send-automations-table-filter__container">
                <select name="statusToProcess" id="SendAutomationsStatusFilter" required>
                    <option selected disabled hidden value="">סטטוס</option>
                    @foreach (var status in Enum.GetValues(typeof(BLL.SendAutomationStatus)))
                    {
                        <option value="@((int)status)">@hebStatus[(BLL.SendAutomationStatus)status]</option>
                    }
                </select>
            </div>
            <div class="send-automations-table-filter__container">
                <input id="SendAutomationsAccountFilter" name="accountsDataToProcess" placeholder="שם החשבון\מזהה החשבון" />
            </div>
            <div>
                <button type="submit">סנן</button>
            </div>
        </div>
        </form>
</section>


<script>
    $(document).ready(function () {

        $("#SendAutomationsTableFiltersForm").submit(function (e) {
            e.preventDefault();
            $(".lds-hourglass").show();
            //if (!$(this).valid()) {
            //    return;
            //}
            $.ajax({
                url: $(this).attr("action"),
                type: $(this).attr("method"),
                data: $(this).serialize(),
                success: function (data) {
                    $("#SendAutomationsTableSection").html("");
                    $("#SendAutomationsTableSection").html(data);
                    $(".lds-hourglass").hide();
                    alert("הסינון עבר בהצלחה");
                },
                error: function (xhr, status, error) {
                    $(".lds-hourglass").hide();
                    alert(error);
                }
            });
        });
    });
</script>

<style>
    #SendAutomationsTableFiltersContainer{
        display:flex;
        flex-direction: row;
        justify-content:center;
    }
    .send-automations-table-filter__container { margin-left: 25px; }
</style>