﻿@model NotificationsApp.Models.UpdateSendAutomationModel
@{
    string accountID = string.Empty;
    if (Model.SendAutomation != null && Model.SendAutomation.AccountID != 0)
    {
        accountID = Model.SendAutomation.AccountID.ToString();
    }
    else if (Model.Account != null)
    {
        accountID = Model.Account.AccountID.ToString();
    }
}
<table id="SendAutomationsAddFormAccountDetailsTable" class="send-automations__add--table">
    <tr>
        <td>
            <h3>פרטי חשבון</h3>
        </td>
    </tr>
    <tr>
        <td>
            AccountID
        </td>
        <td>
            <input id="AccountID" name="account-id" class="send-automations__add--input" value="@accountID" @(!string.IsNullOrEmpty(accountID) ? "readonly" : "") />
        </td>
    </tr>
    @if (Model.Account != null)
    {
        <tr>
            <td>
                שם החשבון
            </td>
            <td>
                <input id="AccountName" name="account-name" class="send-automations__add--input" value="@Model.Account.Name" disabled/>
                
            </td>
        </tr>
    }
</table>

<style>
    #AccountID:read-only, #AccountName:disabled { background-color: rgba(239, 239, 239, 0.3); border-color: rgba(118, 118, 118, 0.3); }
</style>
