﻿@model NotificationsApp.Models.UpdateSendAutomationModel
@{ 
    string messageName = string.Empty;
    string messageHeadline = string.Empty;
    string messageText = string.Empty;
    string redirectButtonText = "לחץ/י כאן";
    string redirectLink = string.Empty;
    string imageUrl = string.Empty;

    if (Model.SendAutomation != null && Model.SendAutomation.TemplateMessage != null)
    {
        var msg = Model.SendAutomation.TemplateMessage;
        messageName = msg.DisplayName;
        messageHeadline = msg.Headline;
        messageText = msg.MessageText;
        redirectButtonText = msg.ButtonText;
        redirectLink = msg.ButtonRedirectLink;
        if (!string.IsNullOrEmpty(Model.SendAutomation.TemplateMessage.ImageUrl))
        {
            var imageData = Newtonsoft.Json.JsonConvert.DeserializeObject<Common.ManagedFile>(Model.SendAutomation.TemplateMessage.ImageUrl);
            imageUrl = Common.FileManager.GetInstance().GetFilePath(imageData, true);
        }
    }

}
<table id="SendAutomationsAddFormAccountDetailsTable" class="send-automations__add--table">
    <tr>
        <td>
            <h3>פרטי הודעה</h3>
        </td>
    </tr>
    <tr>
        <td>
            שם ההודעה (לניהול בלבד, לא מופיע ללקוח)
        </td>
        <td>
            <input id="MessageName" name="message-name" class="send-automations__add--input" value="@messageName" />

        </td>
    </tr>

    <tr>
        <td>
            כותרת (עד 50 תווים)
        </td>
        <td>
            <input id="MessageHeadline" name="message-headline" class="send-automations__add--input" value="@messageHeadline" />
        </td>
    </tr>

    <tr>
        <td>
            <label for="MessageText">טקסט (עד 100 תווים)</label>
        </td>
        <td>
            <textarea id="MessageText" name="message-text" class="send-automations__add--input">@messageText</textarea>
        </td>
    </tr>

    <tr>
        <td>
            טקסט לכפתור
        </td>
        <td>
            <input id="RedirectButtonText" name="message-redirect-btn-text" class="send-automations__add--input" value="@redirectButtonText" />
        </td>
    </tr>

    <tr>
        <td>
            קישור להודעה
        </td>
        <td>
            <input id="RedirectLink" name="message-redirect-link" class="send-automations__add--input" value="@redirectLink"/>
        </td>
    </tr>
    <tr>
        <td>
            תמונה
        </td>
        <td>
            <input id="MessageImage" type="file" name="message-image" accept="image/png, image/jpeg" onchange="readURL(this);">
        </td>
        <td>
            <img id="NotificationImage" src="@imageUrl" alt="Notification Image" width="250" height="250"/>
        </td>
    </tr>
</table>

<script>
    function readURL(input) {
      if (input.files && input.files[0]) {
        let reader = new FileReader();

        reader.onload = function (e) {
            $('#NotificationImage').attr('src', e.target.result); 
        };

         reader.readAsDataURL(input.files[0]);
      }
    }
</script>

<style>
    img[src=""] { display: none; }
</style>

