﻿@model NotificationsApp.Models.MainSendAutomationModel
<div class="send-automations-navigation">
    @for (int i = 1; i < Model.NumOfPages + 1; i++)
    {
        <a href="#" class="@(i == Model.CurrentPage ? "selected-page" : "")" onclick="ChangePage('@i'); return false;">@i</a>
    }
</div>
<script>
    function ChangePage(pageNum) {
        const maxPage = parseInt('@Model.NumOfPages');
        const currPage = parseInt('@Model.CurrentPage');
        if (pageNum == 0 || pageNum > maxPage || pageNum == currPage) {
            return;
        }
        $.ajax({
            type: "GET",
            url: "@Url.Action("GetSendAutomationsByPage", "SendAutomations")",
            data: { pageNum: pageNum} ,
            success: function (data) {
                if (data) {
                    $("#SendAutomationsTableSection").html("");
                    $("#SendAutomationsTableSection").html(data);
                }
            },
        });
    }
</script>
<style>
    .selected-page { color: red; }
</style>
