﻿@model NotificationsApp.Models.UpdateSendAutomationModel
@{
    Common.LanguagePack languagePack = new Common.LanguagePack();
    var hebWeekDaysCodeToDay = languagePack.HebPack.Keys.Where(w => w.StartsWith("Day_")).ToDictionary(k => k, k => languagePack.HebPack[k]);
    string automationName = string.Empty;
    int automationDay = -1;
    int automationHour = -1;
    if (Model.SendAutomation != null)
    {
        automationName = Model.SendAutomation.DisplayName;
        automationHour = Model.SendAutomation.Hour;
        automationDay = (int)Model.SendAutomation.Day;
    }
}
@if (Model.SendAutomation != null)
{
    <input hidden name="automation-id" value="@Model.SendAutomation.SendAutomationID"/>
}
<table id="SendAutomationsAddFormAutomationDetailsTable" class="send-automations__add--table">
    <tr>
        <td>
            <h3>פרטי אוטומציה</h3>
        </td>
    </tr>
    <tr>
        <td>
            שם האוטומציה (לניהול בלבד
        </td>
        <td>
            <input id="AutomationDisplayName" name="automation-name" class="send-automations__add--input" value="@automationName" />
        </td>
    </tr>
    <tr>
        <td>
            יום השליחה
        </td>
        <td>
            <select id="AutomationSendDay" class="send-automations__add-day--select" name="automation-day">
                <option disabled hidden selected value="-1">בחר יום</option>
                @foreach (var day in hebWeekDaysCodeToDay)
                {
                    <option value="@day.Key.Split('_')[1]">@day.Value</option>
                }
            </select>
        </td>
    </tr>
    <tr>
        <td>
            שעת השליחה
        </td>
        <td>
            <select id="AutomationSendHour" class="send-automations__add-hour--select" name="automation-hour">
                <option disabled hidden selected value="-1">בחר שעה</option>
                @for (int i = 0; i < 24; i++)
                {
                    string sendHour = (i < 10 ? "0" : "") + i.ToString() + ":00";
                    <option value="@i">@sendHour</option>
                }
            </select>
        </td>
    </tr>
</table>

<script>
    $(document).ready(function () {
        const automationDay = '@automationDay';
        const automationHour = '@automationHour';
        $(`#AutomationSendDay option[value='${automationDay}']`).prop('selected', true);
        $(`#AutomationSendHour option[value='${automationHour}']`).prop('selected', true);
    });
</script>