﻿@model NotificationsApp.Models.MainSendAutomationModel
@{
    var languagePack = new Common.LanguagePack();
}
<table id="SendAutomationsTable" class="send-automations--table">

    <thead>
        <tr>
            @if (!Model.IsForSingleAccount)
            {
                <th>ID</th>
            }
            <th>שם אוטומציה</th>
            @if (!Model.IsForSingleAccount)
            {
                <th>שם החשבון</th>
            }
            <th>סטטוס</th>
            @if (!Model.IsForSingleAccount)
            {
                <th>תאריך יצירה</th>
            }
            <th>תאריך שליחה אחרונה</th>
            <th>יום שליחה</th>
            <th>שעת שליחה</th>
            <th>ערוך</th>
            <th>שנה סטטוס</th>
            <th>מחק</th>
        </tr>
    </thead>
    @foreach (var automation in Model.SendAutomations)
    {
        int hour = automation.Hour;
        int day = (int)automation.Day;
        string lastMessageSentText = automation.LastMessageSentDate != null ? automation.LastMessageSentDate.GetValueOrDefault().ToString("dd/MM/yyyy") : "ללא";
        string sendDay = languagePack.HebPack[languagePack.DayPrefix + (day)];
        string sendHour = (hour < 10 ? "0" : "") + hour.ToString() + ":00";
        string status = string.Empty;
        string changeStatusBtnText = string.Empty;
        if (automation.IsActive)
        {
            status = "פעילה";
            changeStatusBtnText = "הפסק";

        }
        else
        {
            status = "לא פעילה";
            changeStatusBtnText = "הפעל";
        }
        bool isWithMessages = automation.AutomationData != null && automation.AutomationData.HasSentMessages;
        var account = Model.AccountIDToAccount[automation.AccountID];
        <tr id="@automation.SendAutomationID" class="send-automations--table-row">
            @if (!Model.IsForSingleAccount)
            {
                <td>
                    @automation.SendAutomationID
                </td>
            }
            <td>
                @automation.DisplayName
            </td>
            @if (!Model.IsForSingleAccount)
            {
                <td>
                    @account.Name
                </td>
            }
            <td id="Automation@(automation.SendAutomationID.ToString())Status">
                @status
            </td>
            @if (!Model.IsForSingleAccount)
            {
                <td>
                    @automation.CreationDate.ToString("dd/MM/yyyy")
                </td>
            }
            <td>
                @lastMessageSentText
            </td>
            <td>
                @sendDay
            </td>
            <td>
                @sendHour
            </td>
            <td>
                <button class="send-automation--btn" onclick="EditSendAutomation('@automation.SendAutomationID')">ערוך</button>
            </td>
            <td>
                <button class="send-automation--btn" id="Automation@(automation.SendAutomationID.ToString())StatusBtn" onclick="ToggleSendAutomationStatus('@automation.SendAutomationID')" >@changeStatusBtnText </button>
            </td>
            <td>
                <button class="send-automation--btn" onclick="DeleteSendAutomation('@automation.SendAutomationID')" @(isWithMessages ? "disabled" : "")>מחק</button>
            </td>
        </tr>
    }
</table>
<script>
    function EditSendAutomation(automationID) {
        window.location.href = '@Url.Action("CreateOrUpdateAutomation","SendAutomations")' + "?" + "sendAutomationID=" + automationID.toString();;
    }
    function DeleteSendAutomation(automationID) {
        if (!confirm("אם תמחקו את האוטומציה, לא תוכלו לקשר בינה לבין ההודעות שנשלחו במסגרתה. האם אתם בטוחים?")) {
            return;
        }
        $.ajax({
            url: "@Url.Action("DeleteAutomation", "SendAutomations")",
            data: { automationID: automationID},
            success: function (data) {
                if (!data || data.toString().toLowerCase() !== "true") {
                    onDeleteEndMessage = "המחיקה נכשלה";
                }
                else {
                    onDeleteEndMessage = "המחיקה הצליחה";
                    $(`#${automationID}`).remove();
                }
                //alert(onDeleteEndMessage);
            },
        });
    }
    function ToggleSendAutomationStatus(automationID) {
        $.ajax({
            url: "@Url.Action("ToggleStatus", "SendAutomations")",
            data: { automationID: automationID},
            success: function (data) {
                if (!data) {
                    onChangeStatusEnd = "הפעולה נכשלה";
                }
                else {
                    onChangeStatusEnd = "הפעולה הצליחה";
                    const isActive = data.toString().toLowerCase() === "true";
                    const changeStatusBtn = $(`#Automation${automationID}StatusBtn`);
                    const statusDescription = $(`#Automation${automationID}Status`);
                    $(changeStatusBtn).text("");
                    $(statusDescription).text("");
                    if (isActive) {
                        $(changeStatusBtn).text("הפסק");
                        $(statusDescription).text("פעילה");
                    }
                    else {
                        $(changeStatusBtn).text("הפעל");
                        $(statusDescription).text("לא פעילה");
                    }
                }
                //alert(onChangeStatusEnd);
            },
        });
    }
</script>
<style>
    .send-automation-delete--btn { font-size: 22px; padding-top: 25px; text-align: center; }
    #SendAutomationsTable { border-bottom: ridge; width: 100%; table-layout: auto; }
    #SendAutomationsTable th { color: white; }
    #SendAutomationsTable th { border-left: 2px solid #808080; border-right: 2px solid #808080; padding: 3px 9px 3px 9px; background: #4a4848; text-align: center; }
    #SendAutomationsTable td { border-left: 1px solid #808080; border-right: 1px solid #808080; padding: 3px 9px 3px 9px; text-align: center; }
    .send-automations--table-row:nth-child(odd) { background: #CCC }
    .send-automation--btn { background-color: white; }
</style>