﻿@model NotificationsApp.Models.UpdateSendAutomationModel
@{
    //TODO: Add Image
    ViewBag.Title = "NewSendAutomation";
    Common.LanguagePack languagePack = new Common.LanguagePack();
    var hebWeekDaysCodeToDay = languagePack.HebPack.Keys.Where(w => w.StartsWith("Day_")).ToDictionary(k => k, k => languagePack.HebPack[k]);
}

<div class="send-automations-container">
    <h1>עדכון אוטומציות</h1>
    <div class="send-automations__add-container">
        <section id="SendAutomationsNavigation" class="send-automations__add--section send-automations-navigation">
            <a class="navigation__back--anchor" href="@Url.Action("Index", "SendAutomations")">עבור לטבלת אוטומציות</a>
            @*already exists in site layout*@
            @*<a class="navigation__back--anchor" href="@Url.Action("Home", "Home")">עבור לטבלת חשבונות במערכת</a>*@
            @if (Model.Account != null)
            {
                <a class="navigation__back--anchor" href="@(Url.Action("EditAccount", "Home") + "?accountID=" + Model.Account.AccountID.ToString())">עבור לעמוד עריכת חשבון</a>
            }
        </section>
        <div class="loader"></div>
        <form id="SendAutomationsAddForm" name="send-automation-add-form" class="send-automations__add--form" method="post" action="@Url.Action("SaveAutomation", "SendAutomations")">
            @Html.Partial("~/Views/SendAutomations/_SendAutomationDetailsTable.cshtml", Model)
            @Html.Partial("~/Views/SendAutomations/_SendAutomationAccountDetailsTable.cshtml", Model)
            @Html.Partial("~/Views/SendAutomations/_SendAutomationMessageDetailsTable.cshtml", Model)
            <div id="SubmitBtnContainer">
                <button type="submit" class="send-automations__add-submit--btn btn-success">שמור אוטומציה</button>
            </div>
        </form>
    </div>
</div>

@Html.Partial("~/Views/SendAutomations/Validation/_UpdateSendAutomationsValidation.cshtml")
<script>
    $(document).ready(function () {
        $("#SendAutomationsAddForm").submit(function (e) {
            e.preventDefault();
            $(".loader").show();
            if (!$(this).valid()){
                return;
            }
            $.ajax({
                url: $(this).attr("action"),
                type: $(this).attr("method"),
                data: new FormData(this),
                processData: false,
                contentType: false,
                success: function (data) {
                    //reset day, time and name
                    $('#AutomationDisplayName').val("");
                    $('#AutomationSendDay').prop('selectedIndex', 0);
                    $('#AutomationSendHour').prop('selectedIndex', 0);
                    alert(data);
                    $(".loader").hide();
                },
                error: function (xhr, status, error) {
                    alert(error);
                    $(".loader").hide();
                }
            });
        });
    });
   function ManageSendAutomations() {
        document.location.href = '@Url.Action("Index", "SendAutomations")';
    }
</script>

<style>
    .send-automations-header-container > h2 { text-align: center; background: #aea8a8; padding-top: 1mm; padding-bottom: 5mm; margin-bottom: 30px; }
    .send-automation-delete--btn { font-size: 22px; padding-top: 25px; text-align: center; }
    #SendAutomationsTable { border-bottom: ridge; width: 100%; table-layout: auto; }
    #SendAutomationsTable table th { border-left: 2px solid #808080; border-right: 2px solid #808080; padding: 3px 9px 3px 9px; background: #4a4848; text-align: center; }
    #SendAutomationsTable table td { border-left: 1px solid #808080; border-right: 1px solid #808080; padding: 3px 9px 3px 9px; text-align: center; }
    .send-automations--table-row:nth-child(odd) { background: #CCC }
    .send-automations__add--table{
        border-spacing: 10px;
    }
    .error { color: red; }
    #SubmitBtnContainer { margin-top: 15px; }
    #SendAutomationsNavigation { display: flex; flex-direction:column; }
    .loader {display:none;}
</style>