﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Notifications App Admin</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/bootstrap")

    @*@Scripts.Render("~/bundles/scrollable")*@
    @RenderSection("scripts", required: false)

</head>
<body dir="rtl">
    <div class="navbar navbar-inverse navbar-fixed-top">
        @if (NotificationsApp.Auxiliary.Navigation.CurrentUser != null)
        {
            <div id="ExitPanel">
                @Html.ActionLink("התנתק", "Logout", "Login", new { area = "" }, new { @class = "navbar-brand" })
            </div>
        }
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                </button>
                @Html.ActionLink("Notification App Admin", "Home", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
    </div>


</body>
</html>

