﻿@model NotificationsApp.Models.UpdateSendAutomationModel
@{
    //TODO: Add Image
    ViewBag.Title = "NewSendAutomation";
    Common.LanguagePack languagePack = new Common.LanguagePack();
    var hebWeekDaysCodeToDay = languagePack.HebPack.Keys.Where(w => w.StartsWith("Day_")).ToDictionary(k => k, k => languagePack.HebPack[k]);
}

<div class="send-automations-container">
    <h1>עדכון אוטומציות</h1>
    <div class="send-automations__add-container">
        <section id="SendAutomationsNavigation" class="send-automations__add--section send-automations-navigation">
            <a class="navigation__back--btn" href="@Url.Action("Index", "SendAutomations")">עבור לטבלת אוטומציות</a>
        </section>
        <form id="SendAutomationsAddForm" name="send-automation-add-form" class="send-automations__add--form" method="POST" action="@Url.Action("SaveAutomation", "SendAutomations")">
            <section id="SendAutomationsDetails" class="send-automations__add--section send-automations__automation-details">
                <h3>פרטי אוטומציה</h3>
                <div>
                    <label for="AutomationDisplayName">שם האוטומציה (לניהול בלבד)</label>
                    <input id="AutomationDisplayName" name="automation-name" class="send-automations__add--input" />
                </div>
                <div>
                    <label for="AutomationSendDay">יום השליחה</label>
                    <select id="AutomationSendDay" class="send-automations__add-day--select" name="automation-day">
                        <option disabled hidden selected value="-1">בחר יום</option>
                        @foreach (var day in hebWeekDaysCodeToDay)
                        {
                            <option value="@day.Key.Split('_')[1]">@day.Value</option>
                        }
                    </select>
                </div>
                <div>
                    <label for="AutomationSendHour">שעת השליחה</label>
                    <select id="AutomationSendHour" class="send-automations__add-hour--select" name="automation-hour">
                        <option disabled hidden selected value="-1">בחר שעה</option>
                        @for (int i = 0; i < 24; i++)
                        {
                            string sendHour = (i < 10 ? "0" : "") + i.ToString() + ":00";
                            <option value="@i">@sendHour</option>
                        }
                    </select>
                </div>
            </section>
            <section id="SendAutomationAccountDetails" class="send-automations__add--section send-automations__account-details">
                <h3>פרטי חשבון</h3>
                <div>
                    <label for="AccountID">מזהה חשבון במערכת</label>
                    <input id="AccountID" name="account-id" class="send-automations__add--input" />
                </div>
            </section>
            <section id="SendAutomationsMessageDetails" class="send-automations__add--section send-automations-message-details">
                <h3>פרטי הודעה</h3>
                <div>
                    <label for="MessageName">שם ההודעה (לניהול בלבד, לא מופיע ללקוח)</label>
                    <input id="MessageName" name="message-name" class="send-automations__add--input" />
                </div>

                <div>
                    <label for="MessageHeadline">כותרת (עד 50 תווים)</label>
                    <input id="MessageHeadline" name="message-headline" class="send-automations__add--input" />
                </div>

                <div>
                    <label for="MessageText">טקסט (עד 100 תווים)</label>
                    <textarea id="MessageText" name="message-text" class="send-automations__add--input"></textarea>
                </div>

                <div>
                    <label for="RedirectButtonText">טקסט לכפתור</label>
                    <input id="RedirectButtonText" name="message-redirect-btn-text" class="send-automations__add--input" value="לחץ/י כאן" placeholder="לחץ/י כאן" />
                </div>

                <div>
                    <label for="RedirectLink">קישור להודעה</label>
                    <input id="RedirectLink" name="message-redirect-link" class="send-automations__add--input" />
                </div>

                <div>
                    <label for="MessageImage">תמונה</label>
                    <input id="MessageImage" type="file" name="message-image" accept="image/png, image/jpeg">
                </div>
            </section>
            <div id="SubmitBtnContainer">
                <button type="submit" class="send-automations__add-submit--btn btn-success">שמור אוטומציה</button>
            </div>
        </form>
    </div>
</div>

<script>
    $(document).ready(function () {
        $.validator.setDefaults({
            ignore: '',
            errorElement: 'span',
            errorPlacement: function (error, element) {
                error.appendTo(element.parent());
            },
        });

        $.extend($.validator.messages, {
            required: "שדה חובה",
            digits: "ספרות בלבד",
            maxlength: jQuery.validator.format("לא יותר מ{0} תווים"),
        });


        const maxHeadlineLength = parseInt('@BLL.Message.MAX_MESSAGE_HEADLINE_LENGTH');
        const maxTextLength = parseInt('@BLL.Message.MAX_MESSAGE_TEXT_LENGTH');
        const maxLinkLength = parseInt('@BLL.Message.MAX_REDIRECT_LINK_LENGTH');

        $("#SendAutomationsAddForm").validate({
            rules: {
                "automation-day": {
                    required: true,
                },
                "automation-hour": {
                    required: true,
                },
                "automation-name": {
                    required: true,
                },
                "account-id" : {
                    required: true,
                    digits : true
                },
                "message-name": {
                    required: true,
                },
                "message-headline": {
                    required: true,
                    maxlength: maxHeadlineLength
                },
                "message-text": {
                    required: true,
                    maxlength: maxTextLength
                },
                //"message-redirect-btn-text": {
                //    required: true,
                //},
                "message-redirect-link": {
                    //required: true,
                    maxlength: maxLinkLength
                },
            },
        });

        $("#SendAutomationsAddForm").submit(function (e) {
            e.preventDefault();
            if (!$("#SendAutomationsAddForm").valid()){
                return;
            }
            $.ajax({
                url: $(this).attr("action"),
                type: $(this).attr("method"),
                data: new FormData(this),
                processData: false,
                contentType: false,
                success: function (data) {
                    //reset day, time and name
                    $('#AutomationDisplayName').val("");
                    $('#AutomationSendDay').prop('selectedIndex', 0);
                    $('#AutomationSendHour').prop('selectedIndex', 0);
                    alert(data);

                    

                },
            });
        });
    });
   function ManageSendAutomations() {
        document.location.href = '@Url.Action("Index", "SendAutomations")';
    }


</script>

<style>
    .send-automations-header-container > h2 { text-align: center; background: #aea8a8; padding-top: 1mm; padding-bottom: 5mm; margin-bottom: 30px; }
    .send-automation-delete--btn { font-size: 22px; padding-top: 25px; text-align: center; }
    #SendAutomationsTable { border-bottom: ridge; width: 100%; table-layout: auto; }
    #SendAutomationsTable table th { border-left: 2px solid #808080; border-right: 2px solid #808080; padding: 3px 9px 3px 9px; background: #4a4848; text-align: center; }
    #SendAutomationsTable table td { border-left: 1px solid #808080; border-right: 1px solid #808080; padding: 3px 9px 3px 9px; text-align: center; }
    .send-automations--table-row:nth-child(odd) { background: #CCC }
    .error { color: red; }
    #SubmitBtnContainer{margin-top:15px;}
</style>