﻿<div style="height:100vh; background-color:green;">

</div>
<div style="height:100vh; background-color:red;">

</div>
<div style="height:100vh; background-color:blue;">

</div>
<script>
    $(document).ready(function () {
        $("body").slimScroll({
            color: "#2596be",
        });
    })
</script>