﻿<form id="TestMyShitForm" name="send-automation-add-form" class="send-automations__add--form" method="post" action="@Url.Action("TestPost", "Tests")">
    <input name="input-name" value="stuff" />
    <div>
        <button type="submit">שגר ושכח</button>
    </div>
</form>
<script>
    $(document).ready(function () {
        $("#TestMyShitForm").submit(function (e) {
            e.preventDefault();
            $.ajax({
                url: $(this).attr("action"),
                type: $(this).attr("method"),
                data: new FormData(this),
                processData: false,
                contentType: false,
                success: function (data) {
                    alert(data);
                },
                error: function (xhr, status, error) {
                    var err = eval("(" + xhr.responseText + ")");
                    alert(err.Message);
                }
        });
    });
</script>
