﻿@model NotificationsApp.Models.LoginModel
@{
    ViewBag.Title = "Login";
}

@using (Html.BeginForm("Login", "Login", FormMethod.Post, new { @class = "EditForm" }))
{
    <div id="LoginDiv">
        <h2>כניסה למערכת</h2>
        <table cellpadding="0" cellspacing="0" border="0">
            <tr>
                <td><label>שם משתמש</label></td>
                <td><input type="text" placeholder="שם משתמש" class="required" style="margin-right: 5px" name="UserName" /></td>
            </tr>
            <tr>
                <td><label>סיסמא</label></td>
                <td><input type="password" placeholder="סיסמא" class="required" style="margin-right: 5px" name="Password" /></td>
            </tr>
        </table>
        @if (!Model.Error.Equals(""))
        {
            <br />
            <label style="color:Red;">@Model.Error</label>
            <br /><br />
        }

        <input type="submit" value="התחבר" />
    </div>
}